body {
  padding: 2px;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  background: rgb(30, 35, 204);
  background: linear-gradient(0deg, rgb(30, 35, 204) 0%, rgb(13, 19, 126) 25%, rgb(8, 6, 52) 50%);
  color: #B8B8B8;
  font-size: 20px;
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: content-box;
}

/* MENU */
.Menu {
  background-color: #F2F2F2;
  display: flex;
  justify-content: space-between;
}
.Menu ul {
  list-style: none;
  column-gap: 10px;
  margin: 10px;
  padding: 0%;
}
.Menu a {
  text-decoration: none;
  color: black;
}
.Menu .Logo {
  background-color: #F2F2F2;
}
.Menu .Logo .Logo:hover {
  transition: all 1s linear;
  transform: rotate(360deg);
  translate: 150px;
}
.Menu .Secciones {
  margin-top: 5px;
}
.Menu .Secciones li:hover {
  background: rgba(0, 0, 0, 0.3);
}
.Menu .Secciones .menu-desktop li {
  display: inline-block;
  font-size: 25px;
  border-right: 1px solid black;
}
.Menu .dropdown {
  display: none;
}

/* ENCABEZADO */
.Encabezado h1 {
  text-align: center;
  font-size: 50px;
  margin-top: 100px;
}

.EncabezadoSec h2 {
  margin-top: 70px;
  text-align: center;
  font-size: 35px;
}

/* INDEX */
.slide {
  margin: 10px;
}
.slide img {
  height: 500px;
}
.slide .carousel-indicators {
  background-color: gray;
}

.VendidosYOfertas {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 10px;
  justify-content: center;
  align-items: stretch;
}
.VendidosYOfertas .Producto {
  width: 33.3333333333%;
}
.VendidosYOfertas .Producto h3 {
  font-size: 25px;
  align-items: flex-start;
  text-align: center;
}
.VendidosYOfertas .Producto li {
  font-size: 15px;
  list-style: none;
  padding-inline-start: 10px;
  margin: 0%;
  list-style: square;
  text-align: left;
}

.ProdcutoImg {
  text-align: center;
  margin: 10px;
}

/* UBICACION */
.ImagenUbicacion {
  text-align: center;
  margin: 20px;
  max-width: 100%;
}

/* SECCION NOSOTROS */
.NosotrosSub h2, .NosotrosSub h3 {
  text-align: left;
  font-size: 25px;
  text-align: center;
  margin-top: 30px;
}
.NosotrosSub p {
  text-align: left;
  font-size: 20px;
}

/* SECCION PRODUCTOS */
.ProductoP h3 {
  font-size: 25px;
  text-align: center;
  margin-top: 30px;
}
.ProductoP h3 .ProductoPImg {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}
.ProductoP h3 .ProductoPImg ul, .ProductoP h3 .ProductoPImg li, .ProductoP h3 .ProductoPImg span {
  font-size: 15px;
  list-style: square;
}

/* SECCION CONTACTO */
.EncabezadoContacto h2 {
  text-align: left;
  font-size: 35px;
  margin-top: 30px;
  margin-bottom: 2px;
}

/* LOGIN */
.LoginSec {
  margin-bottom: 300px;
}

/* Footer */
.Footer {
  background-color: #F2F2F2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
}
.Footer .Tel ul {
  padding: 0%;
}
.Footer .Tel li {
  text-align: left;
  list-style: none;
}
.Footer .Redes li, .Footer a {
  text-align: right;
  text-decoration: none;
  list-style: none;
}
.Footer .Copyright {
  padding: 0%;
  margin-top: 70px;
}
.Footer .Copyright li {
  text-align: center;
  font-size: small;
  list-style: none;
  text-decoration: none;
}

/* MEDIA QUERY */
@media (max-width: 768px) {
  body {
    padding: 5px;
  }
  .Menu {
    background-color: #F2F2F2;
  }
  .Menu .Logo {
    background-color: #F2F2F2;
  }
  .Menu .Logo .Logo:hover {
    display: none;
  }
  .Menu .menu-desktop {
    display: none;
  }
  .Menu .dropdown {
    display: inline-block;
    padding-top: 10px;
    padding-right: 20px;
  }
  .Encabezado h1 {
    font-size: 40px;
  }
  .VendidosYOfertas {
    display: flex;
    flex-wrap: wrap;
  }
  .VendidosYOfertas .Producto {
    width: auto;
  }
  .ImagenUbicacion {
    max-width: 100%;
    padding: 10px;
  }
}

/*# sourceMappingURL=estilos.css.map */
