html,
body {
	padding: 2px;
	margin: 0;
	font-family: 'Dosis', sans-serif;
	background: rgb(30,35,204);
	background: linear-gradient(0deg, rgba(30,35,204,1) 0%, rgba(13,19,126,1) 25%, rgba(8,6,52,1) 50%);
	color: #B8B8B8;
	font-size: 20px;
	list-style: none;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

* {
	box-sizing: content-box;
}


/* SECCION INDEX */

/* Menu */

.Menu, .Logo {
	background-color: #F2F2F2;
}

.Logo:hover {
	transition: all 1s linear;
	transform: rotate(360deg);
	translate: 150px;
}

.Menu .Secciones ul {
	list-style: none;
	column-gap: 10px;
	margin: 10px;
	padding: 0%;
}

.Menu .Secciones ul a {
	text-decoration: none;
	color: black;
}

.Menu {
	display: flex;
	justify-content: space-between;
}

.Secciones li {
	display: inline-block;
	font-size: 25px;
}

.MenuBtn {
	display: none;
	color: black;
	font-size: 20px;
	border: none;
	padding: 10px 20px;
	padding-left: 25px;
	background-color: transparent;
	background-image: url("../imagenes/menu.png");
	background-position: left center;
	background-repeat: no-repeat;
	background-color: transparent;
}


/* Encabezados */
.Encabezado h1 {
	background-color: #F2F2F2; 
	text-align: center;
	font-size: 50px;
	margin-top: 10px;
}

.EncabezadoSec h2 {
	background-color: #F2F2F2;
	text-align: center;
	font-size: 35px;
}



.slide{
	margin: 10px;
}

.slide img{
	height: 500px;
}


.VendidosYOfertas {
	display: flex;
	flex-wrap: nowrap;
	column-gap: 100px;
	justify-content: center;
	align-items: stretch;
	
}

.Productos h3{
	font-size: 25px;
	align-items: flex-start;
}

.ProdcutosImg{
	text-align: center;
	margin: 10px;
}

.Productos li{
	font-size: 15px;
	list-style: none;
	padding-inline-start: 10px;
	margin: 0%;
	list-style: square;
	text-align: left;
}

/* Ubicacion */

.ImagenUbicacion {
	text-align: center;
	margin: 20px;
	max-width: 100%;
}



/* SECCION NOSOTROS */ 


.NosotrosSub h2, h3{
	text-align: left;
	font-size: 25px;
	background-color: #F2F2F2;
}

.NosotrosSub p {
	text-align: left;
	font-size: 20px;
}



/* SECCION PRODUCTOS*/
.ProductosP h3 {
	font-size: 25px;
	text-align: center;
	background-color: #F2F2F2;
}

.ProductosPImg {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.ProdcutosPImg ul, li, span{
	font-size: 15px;
	list-style: square;
}



/*SECCION CONTACTO*/
.EncabezadoContacto h2{
	text-align: left;
	background-color: #F2F2F2;
	font-size: 35px;
}


.LoginSec {
	margin-bottom: 300px;
}


/* Footer */
.Footer {
	background-color: #F2F2F2;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-top: auto;
}

.Tel li {
	text-align: left;
	list-style: none;
}

.Redes li, a {
	text-align: right;
	text-decoration: none;
	list-style: none;
}

.Copyright li {
	text-align: center;
	font-size: small;
	list-style: none;
	text-decoration: none;
}


/* MEDIA QUERY */

@media (max-width: 480px) {

	/* INDEX */

	body {
		padding: 5px;
	}

	.Menu, .Logo {
		background-color: white;
	}

	.Secciones ul {
			display: none;
		}
	
	.MenuBtn {
	display: inline-block;
	}

	.Secciones{
		justify-content: flex-end;
	}

	.Encabezado h1 {
		font-size: 40px;
	}

	.VendidosYOfertas {
		column-gap: 0;
	}

	.ImagenUbicacion {
		max-width: 100%;
		padding: 10px;
	}
}

@media (max-width: 990px) {

	.VendidosYOfertas{
		column-gap: 0%;
	}
	
	.ImagenUbicacion{
		max-width: 100%;
		margin: 0%;
	}
}


