$ColorLetras: #B8B8B8;
$ColorBlanco: #F2F2F2;

@mixin Decoracion {
    text-decoration: none;
    list-style: none;
}


body {
    padding: 2px;
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
	background: rgb(30,35,204);
	background: linear-gradient(0deg, rgba(30,35,204,1) 0%, rgba(13,19,126,1) 25%, rgba(8,6,52,1) 50%);
	color: $ColorLetras;
	font-size: 20px;
	list-style: none;
	text-decoration: none;
	box-sizing: content-box;
}

/* MENU */

.Menu {
    background-color: $ColorBlanco;
    display: flex;
	justify-content: space-between;
    padding-top: 5px;
    
        ul {
            list-style: none;
	        column-gap: 10px;
	        margin: 10px;
	        padding: 0%;
            }
        
        a {
            text-decoration: none;
	        color: black;
        }

    .Logo {
    background-color: $ColorBlanco;

        img {
            padding-left: 20px;
        }
    }

    .Secciones {
        margin-top: 5px;

        li:hover {
            background: rgba(0,0,0,0.3);
        }

        .menu-desktop {
            li {
                display: inline-block;
                font-size: 25px;
                border-right: 1px solid black;
            }
        }
    }

    .dropdown {
        display: none;
    }
}

/* ENCABEZADO */

.Encabezado {
    h1 {
        text-align: center;
	    font-size: 50px;
	    margin-top: 100px;
    }
}

.EncabezadoSec {
    h2 {
        margin-top: 70px;
	    text-align: center;
	    font-size: 35px;
    }
}

/* INDEX */

.slide {
    margin: 10px;

        img {
            height: 500px;
        }

    .carousel-indicators {
                background-color: gray;
    }
}

.VendidosYOfertas {
    display: flex;
	flex-wrap: nowrap;
	column-gap: 10px;
	justify-content: center;
	align-items: stretch;

    .Producto {
        width: calc(100%/3);
    
            h3 {
                font-size: 25px;
                align-items: flex-start;
                text-align: center;
            }

            li {
                font-size: 15px;
                padding-inline-start: 10px;
                margin: 0px;
                text-align: left;
                text-align: center;
                @include Decoracion;

            }
    }
}

/* UBICACION */ 

.ImagenUbicacion {
	text-align: center;
	margin: 20px;
	max-width: 100%;
}


/* SECCION NOSOTROS */

.NosotrosSub {
    h2, h3{
        text-align: left;
        font-size: 25px;
        text-align: center;
        margin-top: 30px;
    }

    p {
        text-align: left;
        font-size: 20px;
    }
}


/* SECCION PRODUCTOS */

.ProductoP h3 {
	font-size: 25px;
	text-align: center;
	margin-top: 30px;


    .ProductoPImg {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 10px;

        ul, li, span{
            font-size: 15px;
            list-style: square;
        }
    }
}


/* SECCION CONTACTO */ 

.EncabezadoContacto h2{
	text-align: left;
	font-size: 35px;
	margin-top: 30px;
    margin-bottom: 2px;
}


/* LOGIN */

.LoginSec {
	margin-bottom: 300px;
}


/* Footer */
.Footer {
	background-color: $ColorBlanco;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 10px;

    .Tel {
        ul{
        padding: 0%;
        }

        li {
        text-align: left;
        list-style: none;
        }
    }

    .Redes li, a {
        text-align: right;
        @include Decoracion;
    }

    .Copyright {
        padding: 0%;
        margin-top: 70px;

            li {
                text-align: center;
                font-size: small;
                @include Decoracion;
            }
    }
}


/* MEDIA QUERY */

@media (max-width: 768px) {

    body {
		padding: 5px;
	}

    .Menu {
        background-color: $ColorBlanco;

        .Logo {
            background-color: $ColorBlanco;
        }

        .menu-desktop {
            display: none
        }

        .dropdown {
            display: inline-block;
            padding-top: 10px;
            padding-right: 20px;
        }
    }

    .Encabezado {
        h1 {
            font-size: 40px;
        }
    }

    .VendidosYOfertas {
        display: flex;
        flex-wrap: wrap;

        .Producto {
            width: auto;
        }
    }

    .ImagenUbicacion {
        max-width: 100%;
        padding: 10px;
    }
}


