$ColorLetras: #B8B8B8;
$ColorBlanco: #F2F2F2;

@mixin SinDecoracion {
    text-decoration: none;
    list-style: none;
}

@mixin Decoracion {
    text-align: center;
    list-style: inside;
}

@mixin TamañoEncabezado {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 0%;
    padding-bottom: 2%;
}

@mixin SinTamaño {
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
}

body {
    padding: 2px;
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
	background: rgb(30,35,204);
	background: linear-gradient(0deg, rgba(30,35,204,1) 0%, rgba(13,19,126,1) 25%, rgba(8,6,52,1) 50%);
	color: $ColorLetras;
	font-size: 20px;
	list-style: none;
	text-decoration: none;
	box-sizing: content-box;
}

/* MENU */

.Menu {
    background-color: $ColorBlanco;
    display: flex;
	justify-content: space-between;
    padding-top: 5px;
    
        ul {
            list-style: none;
	        column-gap: 10px;
	        margin: 10px;
	        padding: 0%;
            }
        
        a {
            text-decoration: none;
	        color: black;
        }

    .Logo {
    background-color: $ColorBlanco;

        img {
            padding-left: 20px;
        }
    }

    .Secciones {
        margin-top: 5px;

        a {
            padding-right: 4px;
        }

        li:hover {
            background: rgba(0,0,0,0.3);
        }

        .menu-desktop {
            li {
                display: inline-block;
                font-size: 25px;
                border-right: 1px solid black;
            }
        }
    }

    .dropdown {
        display: none;
    }
}

/* ENCABEZADO */

.Encabezado {
    h1 {
        text-align: center;
	    font-size: 50px;
	    margin-top: 100px;
        font-weight: bold;
    }

    p {
        @include TamañoEncabezado;
    }
}

.EncabezadoSec {
    h2 {
        margin-top: 70px;
	    text-align: center;
	    font-size: 35px;
        font-weight: bold;
    }
}

/* INDEX */

.slide {
    margin: 10px;

    .carousel-indicators {
                background-color: $ColorLetras;
    }
}

.VendidosYOfertas {
    display: flex;
	flex-wrap: nowrap;

	justify-content: center;
	align-items: stretch;

    .Producto {
        width: calc(100%/3);
        display: flex;
        flex-direction: column;
    
            h3 {
                font-size: 25px;
                align-items: flex-start;
                text-align: center;
                flex: 1;
                padding-top: 20px;
                font-weight: bold;
            }

            li {
                font-size: 20px;
                padding-inline-start: 10px;
                margin: 0px;
                text-align: center;
                @include SinDecoracion;
            }
    }
}

/* UBICACION */ 

.ImagenUbicacion {
	text-align: center;
	margin: 20px;
	max-width: 100%;
}


/* SECCION NOSOTROS */

.NosotrosSub {
    
    h2, h3{
        text-align: left;
        font-size: 25px;
        text-align: center;
        margin-top: 10px;
        font-weight: bold;
    }

    p {
        text-align: center;
        font-size: 15px;
        padding: 5px;
    }

    .Valores {
        display: flex;

        ul {
        text-align: left;
        @include SinDecoracion;
        padding-left: 20%;
        padding-right: 25%;
        }

        img {
            max-width: 25%;
        }
    }

    .NosotrosCompresores {
        display: flex;
        padding-bottom: 50px;

        p {
            padding-left: 10%;
            padding-right: 10%;
            text-align: center;
        }

        img {
            max-width: 20%;
            height: auto;
            margin-right: 15%;
        }
    }

    .NosotrosAire {
        display: flex;
        padding-bottom: 50px;

        h3 {
        padding-right: 10px !important;
        }

        img {
            max-width: 25%;
        }
    }

    .NosotrosSuperCool {
        display: flex;
        padding-left: 10%;
        padding-bottom: 50px;

        img {
            max-width: 15%;
            height: auto;
        }
    }

    .NosotrosRefrigeracion {
        display: flex;
        padding-bottom: 50px;

            img {
                max-width: 20%;
                margin-left: 10%;
            }

            p {
                padding-left: 10%;
            }
    }

    .NosotrosEquipo {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding-left: 10%;
        padding-right: 10%;

        p {
            padding: 0%;
            margin: 0%;
        }

        img {
            max-width: 50%;
        }
    }
}


/* SECCION PRODUCTOS */

.ProductoP {

    h3 {
	font-size: 25px;
	text-align: center;
	margin-top: 30px;
    font-weight: bold;
    }

    ul {
        @include Decoracion;
    }


    .ProductoPImg {
        margin-bottom: 100px;

        ul, li, span {
            font-size: 15px;
        }
    }

    .w-100 {
        margin-left: 25%;
        width: 50%!important;
    }

    .carousel-control-prev {
        left: 15%;
    }

    .carousel-control-next {
        right: 15%;
    }
}


/* SECCION CONTACTO */ 

.EncabezadoContacto h2{
	text-align: left;
	font-size: 35px;
	margin-top: 30px;
    margin-bottom: 2px;
    font-weight: bold;

    input {
        display: flex;
    }
}


/* LOGIN */

.LoginSec {
	margin-bottom: 200px;
    padding: 5px;
    background-color: #100f38;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 50px;

    .LoginForm {
        display: flex;
        margin-bottom: 15px;
    }

    .LoginSubmit {
        margin-left: 70px;
        margin-bottom: 35px;
    }

    p {
        text-align: center
    }

    ul {
        @include SinDecoracion;
        text-align: center;
        padding: 0px;
    }

    a {
        color: $ColorLetras;
    }
}


/* Footer */
.Footer {
	background-color: $ColorBlanco;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding-right: 5px;
    padding-left: 10px;

    .Tel {
        color: black;

        ul{
        padding: 0%;
        }

        li {
        text-align: left;
        list-style: none;
        }
    }

    .Redes li, a {
        color: black;
        text-align: right;
        @include SinDecoracion;
    }

    .Copyright {
        padding: 0%;
        margin-top: 85px;
        color: black;
        text-align: center;
        font-size: small;
        @include SinDecoracion;
    }
}


/* MEDIA QUERY */

@media (max-width: 768px) {

    body {
		padding: 5px;
	}

    .Menu {
        background-color: $ColorBlanco;

        .Logo {
            background-color: $ColorBlanco;
        }

        .menu-desktop {
            display: none
        }

        .dropdown {
            display: inline-block;
            padding-top: 10px;
            padding-right: 20px;
        }
    }

    .Encabezado {
        h1 {
            font-size: 40px;
        }

        p {
            font-size: 15px;
        }
    }

    .VendidosYOfertas {
        display: flex;
        flex-wrap: wrap;

        .Producto {
            width: auto;
        }
    }

    .ImagenUbicacion {
        max-width: 100%;
        padding: 10px;
    }

    .LoginSec ul {
        font-size: 15px;
        padding: 0%;
    }

    /* NOSOTROS */

    .NosotrosSub {

        p {
            text-align: center;
            font-size: 15px;
            @include SinTamaño;
        }
    
        ul {
            font-size: 15px;
            @include SinTamaño;
        }
    
    
        .Valores {

            ul {
            text-align: left;
            padding-left: 5%;
            padding-right: 5%;
            }

            img {
                max-width: 50%;
            }
        }
    
        .NosotrosCompresores {
            display: flex;
            align-items: center;
    
            p {
                padding-right: 2%;
                padding-left: 2%;
            }
    
            img {
                max-width: 100%;
                max-height: 150px;
                margin-right: 0%;
            }
        }
    }
}

@media (min-width: 769px) and (max-width: 1199px) {

.NosotrosSub {

    .NosotrosCompresores {
        display: flex;
        align-items: center;

            p {
                padding-right: 5%;
            }

            img{
                margin-right: 5%;
            }
        }
    }
}